body {
  display: grid;
  justify-self: center;
  align-items: center;
  width: 320px;
  max-width: 375px;
  height: 100vh;
  background-color: var(--Slate-100);
}

#mortgage-calculator {
  background-color: var(--White);
}

#calculator-header,
#form-section,
#results {
  padding: 1.2rem;
}

.title,
.form__type,
.form-button {
 font: var(--text-md);
}

.calculator-title {
 color: var(--Slate-900);
}

.clear-form,
.label,
.subtitle,
.form__type legend {
  font: var(--text);
  color: var(--Slate-500);
}

.clear-form {
  margin-top: 0.5rem;
  text-decoration: underline;
  background-color: var(--White);
  border: none;
}

.clear-form:hover {
  color: var(--Slate-900);
  transform: translateY(-1px);  
}

.clear-form:focus {
  color: var(--Lime);
}

#form-content {
  display: grid;
  gap: 1.3rem;
}

.input-with-unit {
  display: flex;
  align-content: center;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--Slate-700);
  overflow: hidden;
}

.input-with-unit:focus-within {
  border: 1px solid var(--Lime);
}

.input-with-unit:hover {
  border: 1px solid var(--Slate-900);
}

.input-with-unit .unit {
  padding: 1rem;
  font: var(--text-inputs);
  background-color: var(--Slate-100);
  color: var(--Slate-700);
  white-space: nowrap;
}

.input-with-unit:focus-within .unit {
  background-color: var(--Lime);
  color: var(--Slate-900);
}

.input-with-unit input {
  flex: 1;
  min-width: 0;
  padding: 1rem;
  font: var(--text-inputs);
  border: none;
}

.form__amount .unit {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form__term .unit,
.form__interest .unit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#mortgage-amount {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#mortgage-term,
#interest-rate {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.form__type {
  display: grid;
  gap: 1rem;
  padding: 0;
  /* font: var(--text-md); */
  color: var(--Slate-900);
  border: none;
}

.form__type > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--Slate-700);
  border-radius: 5px;
}

.form__type > div:hover {
  border: 1px solid var(--Lime-hover);
}

input,
button,
.input-with-unit,
.form__type > div {
  transition: all 0.2s ease-in-out;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid var(--Lime);
  /* outline: 2px solid var(--Slate-900); */
  outline-offset: 2px;
}

.form__type legend {
  margin-bottom: 0.5rem;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding: 1.2rem;
  margin-bottom: 1rem;
  color: var(--Slate-900);
  background-color: var(--Lime);
  border-radius: 25px;
  border: none;
}

.form-button:hover {
  background-color: var(--Lime-hover);
  transform: translateY(-1px);
}

.form-button img {
  width: 20px;
  height: auto;
}

.form-button span {
  font: inherit;
}

#results {
  background-color: var(--Slate-900);
}

.empty-state {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
  color: var(--White);
  /* display: none; */
}

.empty-state img {
  justify-self: center;
}

.empty-state p {
  width: 80%;
  margin: auto;
}

.filled-state {
  display: none;
  gap: 1.2rem;
  padding: 1.4rem;
  color: var(--White);
}

.repayments {
  display: grid;
  gap: 2rem;
  padding: 1.5rem 1.25rem;
  background-color: var(--Slate-1100);
  border-radius: 5px;
  border-top: 2px solid var(--Lime);
}

.result-span {
  font: var(--text);
  color: var(--Slate-500);
}

.monthly-repayment,
.total-repayment {
  display: grid;
  grid-column: 1;
  gap: 1rem;
}

#result-monthly {
  font: var(--text-lg-mobile);
  color: var(--Lime);
  border-bottom: 1px solid var(--Slate-900);
  padding-bottom: 1.5rem;
}

#result-total {
  font: var(--text-lg);
}